@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #201e43;
  --secondary-color: #134b70;
  --accent1-color: #508c9b;
  --accent2-color: #eeeeee;

  --heading-font: Poppins, Helvetica, sans-serif;
  --paragraph-font: Roboto, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1500px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 120px;
}

/* .navbar {
} */

.navbar a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--heading-font);
  margin-right: 1rem;
}

nav li + li::before {
  content: '|';
  padding: 2rem;
}

.navbar li {
  display: inline-block;
  font-size: 1.2em;
}

.navbar a:hover {
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--paragraph-font);
}

/* Footer Section */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 200px;
  border-top: 1px solid #ccc;
  padding: 2rem;
  font-size: 1.1em;
}

.social-links {
  font-size: 1.7em;
}

.social-links a {
  color: var(--primary-color);
  padding: 0 0.5rem;
}

.social-links a:hover {
  color: var(--secondary-color);
}

/* Trips */
.hero-trips {
  background: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.644)),
    url('../images/hero-trips.jpg') no-repeat center / cover;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
}

.trips {
  margin: 200px 0;
}
.trips h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 2rem;
}
.trips-flex {
  display: flex;
  justify-content: space-around;
}

.trip {
  width: 30%;
  text-align: center;
}

.trip h3 {
  font-size: 1.5em;
  padding: 1rem;
}

.trip p {
  padding: 1rem;
}

.trip img {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
}

.trips-table h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.trips-table table {
  border-collapse: collapse;
  font-size: 1.1em;
  font-family: var(--paragraph-font);
  width: 800px;
  margin: 0 auto;
}

.trips-table thead tr {
  font-family: var(--paragraph-font);
  font-size: 1.2em;
  letter-spacing: 0.7px;
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  text-align: left;
}

.trips-table th,
.trips-table td {
  padding: 12px 15px;
}

table,
th,
td {
  border: 1px solid #222;
}

/* Contact */
.employee-profiles {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 200px;
}

.employee-profiles h2 {
  font-size: 2.5em;
}

.profiles {
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
}

.profile img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.profile h3 {
  font-size: 1.2em;
  color: var(--secondary-color);
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 1200px;
  border: 1px solid #ccc;
  padding: 1rem 0;
}

.contact-grid h2 {
  font-size: 1.2em;
  letter-spacing: 0.7px;
  text-align: center;
  margin: 1rem;
}

.contact-grid h3 {
  font-size: 1.1em;
  font-weight: 400;
  text-align: left;
  margin-left: 3rem;
}

.contact-grid p {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 1.1em;
  margin-bottom: 1rem;
}

.map {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}
.map iframe {
  width: 400px;
  height: 400px;
}

form {
  display: grid;
  width: 400px;
  margin: 0 auto;
}

label,
input,
textarea {
  font-family: var(--heading-font);
  font-size: 1.1em;
  padding: 0.1rem;
  margin: 0.2rem 0;
}

.radio-group {
  display: flex;
  margin-left: 3rem;
}

.radio-group label {
  margin-left: 1rem;
}

input[type='radio'] {
  width: 18px;
  vertical-align: middle;
}

button {
  font-family: var(--heading-font);
  font-size: 1.2em;
  margin: 2rem 0;
  padding: 0.75rem;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  color: var(--accent2-color);
  background-color: var(--secondary-color);
}

button:hover {
  background-color: var(--primary-color);
}

.checkbox-group {
  display: flex;
  margin: 1rem 0;
}

.checkbox-group label {
  font-size: 1em;
  margin-left: 0.2rem;
}

input[type='checkbox'] {
  width: 15px;
  vertical-align: middle;
}

/* Home */
.hero-home {
  background: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.644)),
    url('../images/hero-home.png') no-repeat center / cover;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
}

.hero-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 3em;
  color: var(--accent2-color);
  margin-bottom: 1rem;
}

.hero-content .cta-button {
  font-family: var(--heading-font);
  font-size: 1.5em;
  border-radius: 5px;
  cursor: pointer;
  color: var(--accent2-color);
  background-color: var(--accent1-color);
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 100px;
}

.hero-content .cta-button:hover {
  background-color: var(--secondary-color);
}

.newsletter-signup {
  text-align: center;
}

.newsletter-signup h2 {
  font-size: 1.7em;
}

.newsletter-signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-signup label {
  font-size: 1em;
  align-self: flex-start;
  margin: 1rem 0;
}

.newsletter-signup input[type='text'],
.newsletter-signup input[type='email'] {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.newsletter-signup button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

.newsletter-signup button:hover {
  background-color: var(--primary-color);
}

.site-purpose {
  margin: 100px 0;
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  padding: 1rem;
  text-align: left;
}

.grid-item img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.grid-item h3 {
  font-size: 1.5em;
  padding: 1rem 0;
  color: var(--secondary-color);
}

.grid-item p {
  font-size: 1.1em;
}

.call-to-action {
  text-align: center;
  margin: 50px 0;
  padding: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.call-to-action h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.call-to-action p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* About */
.hero {
  position: relative;
  clear: both;
  margin-bottom: 100px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 0;
  text-align: center;
  color: var(--accent2-color);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
  width: 100%;
}

.hero article {
  position: absolute;
  top: 150px;
  left: 70px;
  width: 90%;
  background-color: rgba(0, 52, 89, 0.8);
}

.hero article > h4 {
  color: var(--accent2-color);
  padding: 1rem;
  font-size: 1.2em;
}

.hero article > img {
  padding: 1rem;
  float: right;
  width: 250px;
}

.history {
  text-align: center;
  padding: 1rem;
  width: 1000px;
  margin: 0 auto;
}

.history h2 {
  font-size: 2em;
}

.image-history img {
  width: 800px;
  height: auto;
  padding: 1rem;
}

.adventures {
  margin-top: 100px;
  text-align: center;
}

.adventures h2 {
  font-size: 2em;
}

.figure-flex {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}

figcaption {
  text-align: center;
  font-family: var(--paragraph-font);
  font-size: 1.2em;
}

figure img {
  width: 250px;
  height: 100%;
  border-radius: 5px;
}
