@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #00171F;
    --secondar-color: #003459;
    --accent1-color: #007EA7;
    --accent2-color: #FFFFFF;

    --heading-font: 'Roboto', Arial, sans-serif;
    --paragraph-font: 'Roboto', Arial, sans-serif;

    --nav-background-color: #00171F;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #007EA7;
    --nav-hover-background-color: #003459;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    margin: 1rem auto;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 150px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: var(--nav-hover-background-color);
    padding: 1rem;
    text-decoration: none;
    font-family: var(--heading-font);
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    font-weight: 700;
    text-decoration: underline;
}



/* Class Selector */

.hero {
    position: relative;
    clear: both;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 0;
    text-align: center;
    color: var(--accent2-color);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
    width: 100%;
}

 .hero article>img {
    float: right;
    width: 200px;
}

.hero article {
    position: absolute;
    top: 150px;
    left: 40px;
    width: 90%;
    background-color: rgba(0, 52, 89, 0.8);
}

.hero article>p {
    color: var(--accent2-color);
    padding: 1rem;
}

.hero article>img {
    padding: 1rem;
}

section {
    text-align: center;
}

section h2 {
    padding: 1rem 0;
}

section p {
    padding: 1rem 0;
}

.image-history img {
    width: 500px;
    height: auto;
}

figcaption {
    text-align: center;
    font-family: var(--paragraph-font);

}

.figure-flex {
    display: flex;
    justify-content: space-around;
    
}

figure img {
    width: 180px;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.2);
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: 1px solid #ccc;
}

.social-links img {
    width: 30px;
    height: auto;
    margin-left: 15px;
}

/* Contact Page */
.hero-contact {
    padding-bottom: 7rem;
}

.hero-contact h1 {
    text-align: center;
    margin: 3rem;
}

.hero-flex {
    display: flex;
    justify-content: space-between;
}

.hero-flex img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 1rem;
}

.hero-flex h2 {
    text-align: center;
    font-size: 1.3em;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 1px solid #ccc;
    margin: 5rem 0;
}

.contact-grid h2 {
    font-size: 1.4em;
    margin: 1rem;
}

.contact-grid h3 {
    font-size: 1.2em;
    text-align: left;
    margin-left: 3rem;
}

.contact-grid p {
    text-align: left;
    margin-left: 7rem;
    padding-top: 0.5rem;
    font-size: 1.2em;
}

form {
    display: grid;
    width: 400px;
    margin: 0 auto;

}

label, input, textarea {
    font-family: var(--heading-font);
    font-size: 1.2em;
    text-align: left;
    margin: 0.4rem 0;
}

.radio-group {
    margin: 0.5rem 0;
    display: flex;
    padding-left: 3rem;
}

.radio-group label {
    margin-left: 1rem;
}

input[type="radio"] {
    width: 20px;
    vertical-align: middle;
}

button {
    font-family: var(--heading-font);
    font-size: 1.2em;
    margin: 2rem 0;
    padding: 0.75rem;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    background-color: var(--secondar-color);
}

button:hover {
    background-color: var(--nav-hover-link-color)
}

.checkbox-group {
    display: flex;
    margin: 1rem 0;
}

.checkbox-group label {
    font-size: 1.1em;
    margin-left: 0.5rem;
}

input[type="checkbox"] {
    width: 15px;
    vertical-align: middle;
}

.map {
    padding: 0.5rem;
}
.map iframe {
 width: 90%;
}